body {
  font-family: sans-serif;
  margin: 0;
  background-color: #181818;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #282828;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.episodeGuide {
  flex: 1;
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
}

.episodeGuide h2 {
  margin-top: 10px;
  color: white;
  margin-bottom: 15px;
  margin-left: 10px;
}

.episodeGuide {
  list-style: none;
  padding: 0;
}

.episodeGuide li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  transition: background-color 0.3s ease;
}

.episodeGuide li:last-child {
  border-bottom: none;
}

.episodeGuide li:hover {
  background-color: #333;
}

.details {
  flex: 2;
  padding: 20px;
  background-color: #222;
  border-radius: 10;
  margin-left: 20px;
}

.details h2 {
  margin-top: 0;
  color: white;
  margin-bottom: 10px;
}

.details p {
  line-height: 1.6;
}
